.filters-container {
  min-width: 270px;
  .btn {
    width: 200px;
    height: 40px;
    background-color: #f7f4ec;
    border: 2px solid #bb9169;
    border-radius: 8px;
    margin: 20px 0;
    color: #070707;
  }
}

.filter-list {
  margin-bottom: 20px;
  h1 {
    font-weight: 600;
  }
}
.filter-checkbox {
  display: flex;
  align-items: center;
  input {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
  span {
    font-size: 16px;
  }
}
