.description-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
}

.description-page__title {
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-decoration: underline;
}

.description-page__bread-crumbs {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.bread-crumbs__catalog {
  text-decoration: none;
  color: #000;
}

.description-page__box {
  display: flex;
  justify-content:space-evenly;
  padding-top: 2rem;
}

.wrapper__img,
.description-page__box_text,
.description-page__box_price-amount {
  width: 30%;
}

.wrapper__img {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-img {
  width: 100%;
  object-fit: contain;
}

.wrapper__little-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.little-img {
  width: 30%;
}
