.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.logo {
  display: block;
  background-image: url(../../assets/LOGO.svg);
  background-size: cover;
  width: 7rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.basket {
  display: block;
  position: relative;
  background-image: url(../../assets/bag2.svg);
  background-size: contain;
  width: 7rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}

.cart-total {
  font-size: 1.6rem;
  width: 20%;
}

.basket_number-goods {
  display: inline-block;
  background-color: #e6c49f;
  text-align: center;
  margin-top: 24px;
  margin-left: 40px;
  border-radius: 50%;
  line-height: 2rem;
  min-width: 2rem;
  color: black;
}

@media (max-width: 640px) {
  .cart-total {
    font-size: 1rem;
  }

  .logo {
    width: 5rem;
    height: 3rem;
  }
}
