.products {
  margin-top: 50px;
  margin-bottom: 5rem;
}

.products-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .line {
    border-right: 1px solid #000;
    margin-top: 20px;
  }
}
